<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/PM3nEsv.jpg" alt="">
    <div class="team-member-description-bk">
    </div>
    <div class="team-member-name">
      <p>Amelia Padua</p>
    </div>
    <div  class="team-member-info">
      <p>Software Engineer</p>
      <p>at Pixavo</p>
      <p>in Chicago, IL</p>
    </div>
    <div class="team-member-btn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </div>
</div>
