<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/WjJMPdF.jpg" alt="">
    <div class="team-member-description-bk">
    </div>
    <div class="team-member-name">
      <p>Anthony Holloway</p>
    </div>
    <div  class="team-member-info">
      <p>Talent Acquisition Manager</p>
      <p>at Woebot</p>
      <p>in San Francisco, CA</p>
    </div>
    <div class="team-member-btn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </div>
</div>
