<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/Q7WkFIM.jpg" alt="">
    <div class="team-member-description-bk teal">
    </div>
    <div class="team-member-name-long">
      <p>Anthony Holloway</p>
    </div>
    <div  class="team-member-info">
      <p>Talent Acquisition Manager</p>
      <p>at Woebot</p>
      <p>in San Francisco, CA</p>
    </div>
    <div class="team-member-btn">
      <a href="https://www.linkedin.com/in/hollowayanthony/">
      <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    </div>
</div>
