<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/IG2fP1P.jpg" alt="">
    <div class="team-member-description-bk blue">
    </div>
    <div class="team-member-name-short">
      <p>Dave Hoover</p>
    </div>
    <div  class="team-member-info">
      <p>Co-Founder + CEO</p>
      <p>at Red Squirrel</p>
      <p>in Chicago, IL</p>
    </div>
    <div class="grow-small team-member-btn">
      <a href="https://www.linkedin.com/in/redsquirrel/">
      <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    </div>
</div>
