<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/hE7G8NG.jpg" alt="">
    <div class="team-member-description-bk purple">
    </div>
    <div class="team-member-name">
      <p>Joe Mastey</p>
    </div>
    <div  class="team-member-info">
      <p>Lead Developer</p>
      <p>at Home Chef</p>
      <p>in Chicago, IL</p>
    </div>
    <div class="team-member-btn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </div>
</div>
