<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/eUXBQMA.jpg" alt="">
    <div class="team-member-description-bk purple">
    </div>
    <div class="team-member-name-short">
      <p>Joe Mastey</p>
    </div>
    <div  class="team-member-info">
      <p>Lead Developer</p>
      <p>at Home Chef</p>
      <p>in Chicago, IL</p>
    </div>
    <div class="grow-small team-member-btn">
      <a href="https://www.linkedin.com/in/jmmastey/">
      <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    </div>
</div>
