<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/XZQLbYh.jpg" alt="">
    <div class="team-member-description-bk blue">
    </div>
    <div class="team-member-name">
      <p>Kam Klauschie</p>
    </div>
    <div  class="team-member-info">
      <p>Front End Engineer + Career Advisor</p>
      <p>at Pathrise</p>
      <p>in Rio de Janeiro, Brazil</p>
    </div>
    <div class="team-member-btn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </div>
</div>
