<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/RofeqbT.jpg" alt="">
    <div class="team-member-description-bk teal">
    </div>
    <div class="team-member-name">
      <p>Katie O'Neill</p>
    </div>
    <div  class="team-member-info">
      <p>UX/UI Designer</p>
      <p>at Autodesk</p>
      <p>in San Francisco, CA</p>
    </div>
    <div class="team-member-btn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </div>
</div>
