<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/hM0fiAs.jpg" alt="">
    <div class="team-member-description-bk">
    </div>
    <div class="team-member-name">
      <p>Maren McMullan</p>
    </div>
    <div  class="team-member-info">
      <p>Product Manager</p>
      <p>at Uber</p>
      <p>in San Francisco, CA</p>
    </div>
    <div class="team-member-btn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </div>
</div>
