<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/FwMicm0.png" alt="">
    <div class="team-member-description-bk orange">
    </div>
    <div class="team-member-name">
      <p>Sar Warner</p>
    </div>
    <div  class="team-member-info">
      <p>Organizational Effectiveness</p>
      <p>at Slack</p>
      <p>in San Francisco, CA</p>
    </div>
    <div class="team-member-btn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </div>
</div>
