<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/RofeqbT.jpg" alt="">
    <div class="team-member-description-bk">
    </div>
    <div class="team-member-name">
      <p> Zara Aslam</p>
    </div>
    <div  class="team-member-info">
      <p>Organizational Effectiveness</p>
      <p>at Slack</p>
      <p>in San Francisco, CA</p>
    </div>
    <div class="team-member-btn">
      <!-- <i class="fab fa-linkedin-in fa-lg"></i> -->
    </div>
</div>
