<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/FAZtZJj.jpg" alt="">
    <div class="team-member-description-bk orange">
    </div>
    <div class="team-member-name-short">
      <p>Zara Aslam</p>
    </div>
    <div  class="team-member-info">
      <p>Looking for New Opportunities</p>
      <p>Due to COVID-19</p>
      <p>in Seattle, WA</p>
    </div>
    <div class="team-member-btn">
      <a href="https://www.linkedin.com/in/zara-aslam/">
      <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    </div>
</div>
