.jobs {
  background-color: $teal;
  .content {color: $light-purple;}
}

.ranking {
  background-color: $white;
  .content {color: $orange;}
}

.investments {
  background-color: $purple;
  .content {color: $light-purple;}
}

.worst {
  background-color: $white;
  .content {color: $black;}
}

.most {
  background-color: $orange;
  .content {color: $orange;}
}

.annual {
  background-color: $medium-red;
  .content {color: $medium-red;}
}

.potential {
  background-color: $white;
  .content {color: $black;}
}

.interactive {
  background-color: $plum;
  .content {color: $light-purple;}
}
