// #1 Company Tracker
.company-tracker {
  background-color: $navy;
  padding: 3rem 0rem 12rem 0rem;
  .content { color: $navy; }
  .down-arrow {
    text-decoration: none;
    color: $navy;
  }
}

// #2 Salary
.salary {
  background-color: $medium-blue;
  .content { color: $medium-blue; }
  .down-arrow {
    text-decoration: none;
    color: $navy;
  }
}

// #3 Length
.length {
  background-color: $blue;
  .content { color: $blue; }
  .down-arrow {
    text-decoration: none;
    color: $blue;
  }
}

// #4 Small Companies
.small-companies {
  background-color: $light-purple;
  .content { color: $light-purple; }
  .down-arrow {
    text-decoration: none;
    color: $light-purple;
  }
}

// #5 Biggest Company
.biggest-company {
  background-color: $medium-purple;
  .content { color: $medium-purple; }
  .down-arrow {
    text-decoration: none;
    color: $medium-purple;
  }
}
