.our-data-header-container {
  background-image: url("https://i.imgur.com/CIQX34s.png");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}

.our-data-header h2 {
  font-size: 7rem;
}

.our-data-header h4 {
  font-family: $headers-font;
  font-size: 3.7em;
  position: relative;
}

.apprenticeships-1 {
  margin-top: 120px;
  margin-left: 50px;
  position: relative;
}

.apprenticeships-2 {
  position: relative;
  margin-top: -140px;
  margin-left: 50px;
  background: rgb(213,58,64);
  background: linear-gradient(90deg, rgba(213,58,64,1) 6%, rgba(245,149,39,1) 15%, rgba(31,175,183,1) 26%, rgba(19,113,175,1) 36%, rgba(65,44,137,1) 46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-data-overview {
  padding: 6rem 0;
  position: relative;
  z-index: 1;
}

// Header - Apprentices, Companies, Cities

.mini-header {
padding: 0px 25px 50px 25px;
}

.apprentices-card {
display: inline-block;
position: relative;
width: 200px;
min-width: 150px;
height: 200px;
border-radius: 15px;
overflow:hidden;
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
margin: 50px;
background-color: $teal;
position: relative;
}

.apprentices-info {
font-size: 16px;
color: $white;
margin: 32px;
font-family: $headers-font;
text-decoration: none;
}

.apprentices-icon {
font-size: 55px;
margin-top: 5px;
}

.companies-card {
display: inline-block;
position: relative;
width: 200px;
min-width: 150px;
height: 200px;
border-radius: 15px;
overflow:hidden;
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
margin: 50px;
background-color: $blue;
}

.companies-info {
font-size: 16px;
color: $white;
margin: 32px;
font-family: $headers-font;
}

.companies-icon {
font-size: 55px;
margin-top: 5px;
}

.cities-card {
display: inline-block;
position: relative;
width: 200px;
min-width: 150px;
height: 200px;
border-radius: 15px;
overflow:hidden;
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
margin: 50px;
background-color: $purple;
}

.cities-info {
font-size: 16px;
color: $white;
margin: 32px;
font-family: $body-font;
}

.cities-icon {
font-size: 60px;
margin-top: 5px;
}
