<a class="resources-link" href="https://css-tricks.com/snippets/jquery/make-entire-div-clickable/">
<div class="resources-card">
  <i class="fab fa-slack"></i>
  <div class="resources-card-info">
    <h2>
      Welcome, Apprentices - Join Us
    </h2>
    <p>
      We're inviting current and past apprentices to join our community on Slack!
    </p>
  </div>
</div>
</a>
