<div class="resources-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="resources-card-info">
    <h2>
      Welcome, Apprentices - Join Us
    </h2>
    <p>
      We're inviting current and past apprentices to join our community on Slack!
    </p>
  </div>
</div>
