<div class="resources-card">
  <i class="fas fa-lightbulb"></i>
  <div class="resources-card-info">
    <h2>
      Identifying Problems an Apprenticeship Can Solve
    </h2>
    <p>
      Once you understand how apprenticeships work, learn how to meet your company's needs, goals and targets
    </p>
  </div>
</div>
