<a class="resources-link" href="https://css-tricks.com/snippets/jquery/make-entire-div-clickable/">
<div class="resources-card">
  <i class="fas fa-trophy"></i>
  <div class="resources-card-info">
    <h2>
      Finding an Apprenticeship Program Champion
    </h2>
    <p>
      Who should lead the launch and expansion of an apprenticeship program? Let's figure it out!
    </p>
  </div>
</div>
</a>
