<div class="resources-card">
  <i class="fas fa-stopwatch"></i>
  <div class="resources-card-info">
    <h2>
      5 Things You can Do to Launch Your Apprenticeship Program Now
    </h2>
    <p>
      A quick start guide to help you take action towards an apprenticeship today!
    </p>
  </div>
</div>
