<div class="resources-card">
  <i class="fas fa-users"></i>
  <div class="resources-card-info">
    <h2>
      Mobilizing Internal Advocates, Mentors, Sponsors, and Allies
    </h2>
    <p>
      Learn how to galvanize your team and company around your apprenticeship program
    </p>
  </div>
</div>
