<div class="resources-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="resources-card-info">
    <h2>
    </h2>
    <p>
    </p>
  </div>
</div>
