<a class="inspiration-card blue" href="https://apprenticeships.me" target="_blank">
  <div  class="inspiration-info inspiration-small-level">
      <i class="fas fa-wrench fa-2x"></i>
      <div class="inspiration-tiny-font"> apprenticeships.me </div>
  </div>
</a>
