<div class="inspiration">
  <div  class="inspiration-info">
    <p>
      <i class="fas fa-wrench fa-2x"></i>
      <a href="https://apprenticeships.me" target="_blank">apprenticeships.me</a>
    </p>
  </div>
</div>



