<a class="inspiration-card grow-small blue" href="https://apprentice.at/" target="_blank">
  <div class="inspiration-info inspiration-small-level ">
    <i class="inspiration-icon fas fa-wrench fa-2x"></i>
    <div class="inspiration-small-font"> apprentice.at </div>
  </div>
</a>
