<a class="inspiration" href="https://apprentice.at/" target="_blank">
    <!-- <div class="inspiration-info"> -->
      <i class="fas fa-wrench fa-2x">
      <p> apprentice.at </p>
      </i>
    <!-- </div> -->
</a>
