<div class="inspiration">
  <div  class="inspiration-info">
    <p>
      <i class="fas fa-scroll fa-2x"></i>
      <a href="https://static1.squarespace.com/static/54d3a0dee4b026182d00678f/t/5d64ee8cf08e8f0001396bb9/1566895783394/Associate+Engineer+Playbook.pdf" target="_blank">Associate Engineer Playbook</a>
    </p>
  </div>
</div>




