<a class="inspiration-card grow-small teal" href="https://static1.squarespace.com/static/54d3a0dee4b026182d00678f/t/5d64ee8cf08e8f0001396bb9/1566895783394/Associate+Engineer+Playbook.pdf" target="_blank">
  <div  class="inspiration-info inspiration-large-level">
    <i class="inspiration-icon fas fa-scroll fa-2x"></i>
    <div class="inspiration-smaller-font"> Associate<br> Engineer<br> Playbook </div>
  </div>
</a>
