<div class="inspiration">
  <div  class="inspiration-info">
    <p>
      <i class="fas fa-wrench fa-2x"></i>
      <a href="http://chicagoapprenticeships.com/" target="_blank">Chicago Apprenticeships</a>
    </p>
  </div>
</div>



