<a class="inspiration-card grow-small orange" href="https://failstatemovie.com/" target="_blank">
  <div  class="inspiration-info inspiration-medium-level">
      <i class="inspiration-icon fas fa-video fa-2x"></i>
      <div class="inspiration-smaller-font"> Fail State Documentary </div>
  </div>
</a>

