<div class="inspiration">
  <div  class="inspiration-info">
    <p>
      <i class="fas fa-video fa-2x"></i>
      <a href="https://failstatemovie.com/" target="_blank">Fail State Documentary</a>
    </p>
  </div>
</div>


