<a class="inspiration-card teal" href="https://revelry.co/software-engineer-apprenticeship/" target="_blank">
  <div  class="inspiration-info inspiration-large-level">
    <i class="fas fa-scroll fa-2x"></i>
    <div class="inspiration-smaller-font"> Revelry<br> Apprenticeship<br> Guide </div>
  </div>
</a>
