<div class="inspiration">
  <div  class="inspiration-info">
    <p>
      <i class="fas fa-scroll fa-2x"></i>
      <a href="https://revelry.co/software-engineer-apprenticeship/" target="_blank">Revelry Apprenticeship Guide</a>
    </p>
  </div>
</div>
