<div class="inspiration">
  <div  class="inspiration-info">
    <p>
      <i class="fas fa-scroll fa-2x"></i>
      <a href="https://thoughtbot.com/playbook/our-company/apprenticeship" target="_blank">thoughtbot Apprenticeship Playbook</a>
    </p>
  </div>
</div>




