// Define variables for your color scheme

// Core Colors:

$teal: #1FAFB7;
$blue: #1371AF;
$purple: #412C89;
$red: #EA202E;
$orange: #F59527;
$white: #FFFFFF;
$black: #000000;

// Accent Colors:

$medium-blue: #0C5790;
$navy: #1E4272;
$medium-purple: #6E2F89;
$light-purple: #9F3C7F;
$plum: #C23F5E;
$medium-red: #D53A40;
