// Panel Structure

.wrapper {
  padding: 12rem 0;
  position: relative;
  z-index: 1;
}
.content {
  position: relative;
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
}

.number-text {
  font-family: $numbers-font;
  font-size: 100px;
}

.number-text-2 {
  font-family: $numbers-font;
  font-size: 75px;
}

.number-text-3 {
  font-family: $numbers-font;
  font-size: 50px;
}

.number-text-4 {
  font-family: $numbers-font;
  font-size: 40px;
}

.number-text-5 {
  font-family: $numbers-font;
  font-size: 25px;
}

.number-text-6 {
  font-family: $body-font;
  font-size: 27px;
  font-weight: bold;
}

.title {
  font-family: $headers-font;
  font-size: 75px;
  padding: 50px;
  color: $white;
  span i {
    margin-right: 50px;
  }
  &.apprentices {
    background-color: $medium-blue;
   }
  &.companies {
    background-color: $navy;
    }
  &.cities {
    background-color: $medium-purple;
    }
}

.down-arrow {
  font-size: 60px;
  margin-top: 30px;
}

// Panel customization is located in components/our_data
