<div class="apprentice">
  <img class="apprentice-profile-img" src="https://i.imgur.com/RofeqbT.jpg" alt="">
  <div class="apprentice-description-bk plum"></div>
  <div class="apprentice-logo">
    <img src="https://i.imgur.com/snR5NOF.png" style="background:white" alt="Company Logo">
  </div>
  <div class="apprentice-name-long">
    <p>Coline Forde</p>
  </div>
  <div  class="apprentice-info">
    <p>Former IT Network Engineer</p>
    <p>Dev Bootcamp</p>
    <p>San Francisco, CA</p>
  </div>
  <div class="apprentice-btn">
    <a href="https://www.linkedin.com/in/ameliapadua/">
    <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
  </div>
</div>
