<div class="apprentice">
  <img class="apprentice-profile-img" src="https://i.imgur.com/RofeqbT.jpg" alt="">
  <div class="apprentice-description-bk-blue"></div>
  <div class="apprentice-logo">
    <img src="https://i.imgur.com/t4YGQ3V.png" style="background:white" alt="Company Logo">
  </div>
  <div class="apprentice-name">
    <p>FJ Collins</p>
  </div>
  <div  class="apprentice-info">
    <p>Former IT Network Engineer</p>
    <p>Dev Bootcamp</p>
    <p>San Diego, CA</p>
  </div>
  <div class="apprentice-btn">
    <a href="#">Learn More</a>
  </div>
</div>
