<div class="apprentice">
  <img class="apprentice-profile-img" src="https://i.imgur.com/RofeqbT.jpg" alt="">
  <div class="apprentice-description-bk purple"></div>
  <div class="apprentice-logo">
    <img src="https://i.imgur.com/gATjCQL.png" style="background:white" alt="Company Logo">
  </div>
  <div class="apprentice-name-long">
    <p>Jesse Aguierre</p>
  </div>
  <div  class="apprentice-info">
    <p>Formerly Incarcerated</p>
    <p>Hack Reactor</p>
    <p>San Francisco, CA</p>
  </div>
  <div class="apprentice-btn">
    <a href="https://www.linkedin.com/in/ginnyfahs/">
    <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
  </div>
</div>
