<div class="apprentice">
  <img class="apprentice-profile-img" src="https://i.imgur.com/RofeqbT.jpg" alt="">
  <div class="apprentice-description-bk-medium-blue"></div>
  <div class="apprentice-logo">
    <img src="https://i.imgur.com/nWZL2F0.png" style="background:white" alt="Company Logo">
  </div>
  <div class="apprentice-name-super-extra-long">
    <p>Krishelle Hardson-Hurley</p>
  </div>
  <div  class="apprentice-info">
    <p>Former Modern Dancer</p>
    <p> Dev Bootcamp</p>
    <p>San Francisco, CA</p>
  </div>
  <div class="apprentice-btn">
    <a href="#">Learn More</a>
  </div>
</div>
