<div class="apprentice">
  <img class="apprentice-profile-img" src="https://i.imgur.com/u0qfb0a.jpg" alt="">
  <div class="apprentice-description-bk red"></div>
  <div class="apprentice-logo">
    <img src="https://i.imgur.com/ZhG80QA.png" style="background:white" alt="Company Logo">
  </div>
  <div class="apprentice-name-long">
    <p>Derrick Carr</p>
  </div>
  <div  class="apprentice-info">
    <p>Formerly Digital Marketing</p>
    <p> Dev Bootcamp</p>
    <p>San Francisco, CA</p>
  </div>
  <div class="apprentice-btn">
    <a href="https://www.linkedin.com/in/ameliapadua/">
    <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
  </div>
</div>
