<div class="apprentice">
  <img class="apprentice-profile-img" src="https://i.imgur.com/ycgos1S.jpg" alt="">
  <div class="apprentice-description-bk teal"></div>
  <div class="apprentice-logo">
    <img src="https://i.imgur.com/Lo4Dq4u.jpg" style="background:white" alt="Company Logo">
  </div>
  <div class="apprentice-name-long">
    <p>Ginny Fahs</p>
  </div>
  <div  class="apprentice-info">
    <p>Formerly Digital Marketing</p>
    <p>Dev Bootcamp</p>
    <p>San Francisco, CA</p>
  </div>
  <div class="apprentice-btn">
    <a href="https://www.linkedin.com/in/ginnyfahs/">
    <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
  </div>
</div>
