<div class="team-member">
    <img class="team-member-profile-img" src="https://i.imgur.com/Hz8atbg.jpg" alt="">
    <div class="team-member-description-bk plum">
    </div>
    <div class="team-member-name-short">
      <p>Jane Willborn</p>
    </div>
    <div  class="team-member-info">
      <p>Formerly Marketing + Mandarin Translator</p>
      <p>Dev Bootcamp</p>
      <p>in San Francisco, CA</p>
    </div>
    <div class="team-member-btn">
      <a href="https://www.linkedin.com/in/janewillborn/">
      <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    </div>
</div>
