<div class="apprentice">
  <img class="apprentice-profile-img" src="https://i.imgur.com/3hb5Dp4.jpg" alt="">
  <div class="apprentice-description-bk teal"></div>
  <div class="apprentice-logo">
    <img src="https://i.imgur.com/Dnp0yDI.png" style="background:white" alt="Company Logo">
  </div>
  <div class="apprentice-name-long">
    <p>Jenna Ritten</p>
  </div>
  <div  class="apprentice-info">
    <p>Former Event Planner</p>
    <p>Dev Bootcamp</p>
    <p>Detroit, MI</p>
  </div>
  <div class="apprentice-btn">
    <a href="https://www.linkedin.com/in/jritten/">
    <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
  </div>
</div>
