<div class="apprentice">
  <img class="apprentice-profile-img" src="https://i.imgur.com/BDrEpPF.jpg" alt="">
  <div class="apprentice-description-bk blue"></div>
  <div class="apprentice-logo">
    <img src="https://i.imgur.com/xBYuyIQ.png" style="background:white" alt="Company Logo">
  </div>
  <div class="apprentice-name-long">
    <p>Meredith Jones</p>
  </div>
  <div  class="apprentice-info">
    <p>Former Nutritionist</p>
    <p>Dev Bootcamp</p>
    <p>San Francisco, CA</p>
  </div>
  <div class="apprentice-btn">
    <a href="https://www.linkedin.com/in/meredithjonesrd/">
    <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
  </div>
</div>

