<!--   <div class="banner" style="background-color: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
    <div class="container"> -->
<div class="section section--featured">
    <div class="hero">
      <h1>For the love of <br>non-traditional software engineers.</h1>
      <h2>The largest community for software engineering apprenticeships in the United States.</h2>
    </div>

    <!-- Thoughtbot Card https://i.imgur.com/dt2qqTZ.jpg -->
    <!-- Non-Visible Card -->
    <div class="row">
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/dt2qqTZ.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Non-Visible Card -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/dt2qqTZ.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Non-Visible Card -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/dt2qqTZ.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Non-Visible Card -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/dt2qqTZ.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Lyft Semi-Visible Top Left Card -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/GkpinWU.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Twilio Full Visible Top Right Card  -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://open.spotify.com/episode/5lvmN0oZsvxarc668ebhAo?si=jA-45AcVSBGyypxYgE7ehQ" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/P9YcCKR.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Microsoft Semi Visible Top Left Card Card  -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/e7AN3On.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Intuit Full Visible Middle Right Card  -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://open.spotify.com/episode/5n22Lp4m4QMIyO6216xUXg?si=UsUxpLTiRUeOLbwhqeo9WA" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/FcJeND3.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Slack Full Visible Front Left Card -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://www.theatlantic.com/technology/archive/2019/12/from-prison-to-silicon-valley/603406/" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/QKIUMzc.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- LinkedIn Full Visible Front Right Card -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://open.spotify.com/episode/3vzvIQVecjBsMYRTezcEMq?si=AMP_ZaWJQra0M9khXPlyyQ" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/UTYb1On.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <!-- Uber Full Visible Front Right Card -->
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://open.spotify.com/episode/7s54IYY4C2QUbaQekOg4TA?si=mAXe2wIyQ4-6FExpiAKW7w" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/jRzQJ5f.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
    </div>
  </div>
