<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>The largest community of software engineering apprenticeships in the US!</h1>
    <p>We are building and celebrating paid entry level technical hiring programs for adults from non-traditional backgrounds like bootcamps, community colleges, online programs, and self-directed study. We gather past and present apprentices, and the employers who love them, to share our stories, advocate for better hiring and training practices, and expand access to high paid careers in technology.</p>
  </div>
</div>
