<!--   <div class="banner" style="background-color: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
    <div class="container"> -->
<div class="section section--featured">
    <div class="hero">
      <h1>For the love of non-traditional software engineers.</h1>
      <h2>The largest community for software engineering apprenticeships in the United States.</h2>
    </div>
    <div class="row">
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/fonts/herbert-lemuel-GHH8KT" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/add-ons/roller-paint-brush-EZ9ZVZ" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/e7AN3On.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/graphics/circle-stains-HNZL36" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/P9YcCKR.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/add-ons/anaglyph-glitch-photo-fx-GDZBET" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/FcJeND3.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/add-ons/vintage-halftone-instant-text-effects-4FZJFH" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/e7AN3On.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/fonts/clarkson-script-DZTDPF" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/P9YcCKR.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/add-ons/matte-faded-photoshop-actions-DDV4LP" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/e7AN3On.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/fonts/in-the-wood-font-YTK7CV" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/FcJeND3.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/graphics/circle-stains-HNZL36" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/dt2qqTZ.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/graphic-templates/minimal-brochure-vol-ii-RBX34Q" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/B7Xm8m0.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="ItemCard">
          <a class="ItemCard__dest cover" href="https://elements.envato.com/items/type/fonts/old-emma-W3R85K" target="_blank"></a>
          <figure class="ItemCard__thumb">
            <img src="https://i.imgur.com/jRzQJ5f.jpg" height="340" width="510" alt="">
            <span class="shadow cover"></span>
          </figure>
        </div>
      </div>
    </div>
  </div>

<!--     </div>
  </div> -->
