<div class="divider">
  <div class="slack-signup">
    <i id="divider-slack" class="fab fa-slack"></i>
    <a class="slack-signup-button" href="https://kamrinklauschie633721.typeform.com/to/GX7D6ek7"> Join Our Slack</a>
  </div>
  <!-- Begin Mailchimp Signup Form -->
  <div class="mailchimp-signup">
    <i id="divider-mailchimp" class="fab fa-mailchimp"></i>
    <form action="https://apprenticeship.us12.list-manage.com/subscribe/post?u=b6d580a0655273a98055e58d4&amp;id=6bfa745fed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b6d580a0655273a98055e58d4_6bfa745fed" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" class="mailchimp-signup-button"></div>
      </div>
    </form>
  </div>
  <!--End Mailchimp Signup Form-->
</div>
