<div class="mini-banner" style="">
  <div class="mini-container">
    <h1>Hall of Fame</h1>
    <p>It's time to get to know some of the amazing apprentices in software engineering around the United States.</p>
  </div>
</div>
