<div class="podcast-header align-items-center">
  <div class="podcast-header-links">
    Subscribe:
    <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9hdWRpb2Jvb20uY29tL2NoYW5uZWxzLzQ5NzM3NzEucnNz" class="podcast-header-images"><img src="https://i.imgur.com/Tt6DTgZ.png" alt="Google Podcasts Logo" /></a>
    <a href="https://open.spotify.com/show/6oU6l4AjnVx2XD7HQeeOcg" class="podcast-header-images"><img src="https://i.imgur.com/xzVY2yU.png" alt="Spotify Logo" /></a>
    <a href="https://www.stitcher.com/podcast/apprenticeshipio" class="podcast-header-images"><img src="https://i.imgur.com/csdhgIR.png" alt="Stitcher Logo" /></a>
    <a href="https://podcasts.apple.com/us/podcast/the-apprenticeship-io-podcast/id1452457373" class="podcast-header-images"><img src="https://i.imgur.com/i5MKwIW.png" alt="Apple Podcasts Logo" /></a>
  </div>
</div>

<div class="navbar navbar-expand-sm navbar-light navbar-apprenticeship">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="home">
      <img src="https://i.imgur.com/7VSA6VB.png" alt="apprenticeship.io Logo" />
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="about_us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="our_data">Our Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="hall_of_fame">Hall of Fame</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu dropdown-menu-right" >
          <a class="dropdown-item" href="resources">For Candidates</a>
          <a class="dropdown-item" href="resources">For Apprentices</a>
          <a class="dropdown-item" href="resources">For Employers</a>
          <a class="dropdown-item" href="resources">For Educators</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="btn btn-flat" href="apply_now">Apply Now</a>
      </li>
    </ul>
  </div>
</div>
