<div class="resources-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="resources-card-info">
    <h2>
      <% case type
        when "employer-1" %>
          Identifying Problems an Apprenticeship Can Solve
        <% when "employer-2" %>
          Finding an Apprenticeship Program Champion
        <% when "employer-3" %>
          Mobilizing Internal Advocates, Mentors, Sponsors, and Allies
        <% when "employer-4" %>
          Designing Your Company's Apprenticeship Program
        <% when "employer-5" %>
          Sourcing, Recruiting, & Building Apprenticeship Partners
        <% when "employer-6" %>
          Launching Your Company's Apprenticeship Program
      <% end %>
    </h2>
    <p>
      <% case type
        when "employer-1" %>
          Learn more about apprenticeships with this awesome article we wrote for you!
        <% when "employer-2" %>
          Learn more about apprenticeships with this awesome article we wrote for you!
        <% when "employer-3" %>
          Learn more about apprenticeships with this awesome article we wrote for you!
        <% when "employer-4" %>
          Learn more about apprenticeships with this awesome article we wrote for you!
        <% when "employer-5" %>
          Learn more about apprenticeships with this awesome article we wrote for you!
        <% when "employer-6" %>
          Learn more about apprenticeships with this awesome article we wrote for you!
      <% end %>
    </p>
  </div>
</div>
