<div class="navbar navbar-expand-sm navbar-light navbar-apprenticeship">
  <a class="navbar-brand" href="#">
    <img src="https://i.imgur.com/7VSA6VB.png" alt="apprenticeship.io Logo" />
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hall of Fame</a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu dropdown-menu-right" >
          <a class="dropdown-item" href="#">For Candidates</a>
          <a class="dropdown-item" href="#">For Apprentices</a>
          <a class="dropdown-item" href="#">For Employers</a>
          <a class="dropdown-item" href="#">For Educators</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="btn btn-flat" href="#">Apply Now</a>
      </li>
    </ul>
  </div>
</div>

<br>
<br>
<br>

<h1>Apprentices</h1>
<br><br>
<div>
In the United States, <br>
We are tracking 281 software engineering apprentices <br>
51% of apprentices have a 4 year undergraduate degree <br>
74% of apprentices attended a coding bootcamp <br>
The top 5 most common previous careers were...<br>
</div>
<br>
<br>
Approximately 74% of apprentices come from an underrpresented gender identity <br>
Approximately 54% of apprentices come from an underrepresented racial identity <br>
<br>
<br>
An apprentice at Uber was a former professional dancer <br>
An apprentice at _____ was a former butcher <br>
An apprentice at LinkedIn was a former personal trainer <br>
<br><br>
<h1>Companies</h1>
<br><br>
In the United States, <br>
We’re tracking x # of software engineering apprenticeships <br>
The earliest formal software engineering apprenticeship started in _________. <br>
The average apprenticeship length is 7 months. <br>
Average apprentice compensation is between… $75,000 - $100,000. <br>
80% of apprentices convert to full time roles after their apprenticeship. <br>
90% of apprentices stay a year or more at their company after their apprenticeship. <br>
The biggest company running an apprenticeship program is Microsoft, with 100,000 employees. <br>
The smallest company running an apprenticeship program is Viaget, with 13 employees.<br>
Of all our companies with software engineering apprenticeships, median company size is 58 employees.<br>
Microsoft is hiring and training the most software engineer apprentices each year.<br>
thoughtbot is invested the most in software engineering apprenticeships, by number of hired software engineering apprentices.<br>
<br>
<br>
<br>
<br>
<br>
<h1> R.I.P. to the Bullshit</h1>
You can’t get experience, if you don’t give experience…<br>
<br>
According to ______, x # of software engineering positions go unfilled each year and x # more open each year.<br>
<br>
If each software company with more than 100 employees in New York City hired 10 apprentices per year…<br>
We would welcome and train x # of new Software Engineers into the tech industry each year.<br>
<br>
If each software company with more than 100 employees in San Francisco hired 10 apprentices per year…<br>
We would welcome and train x # of new Software Engineers into the tech industry each year.<br>

<br>
<br>
<br>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/apprenticeshipio"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/apprenticeshipio"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/kamrinklauschie"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/18316521/admin/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-mission">
    Making apprenticeships tech industry standard. 🎉 🔧 💡
  </div>
  <div class="footer-copyright">
    ©2017-2020 Kamrin Klauschie
  </div>
</div>


