<div class="container-fluid">
  <%= render "shared/navbar" %>

<body>
<!--   Navbar #1 -->
  <div class="parallax-navbar"><span>Apprentices</span></div>

<!-- Apprentice Statistic #1 -->
    <div class="regular-wrapper-usa">
      <img src="https://i.imgur.com/xEEnl8e.png" class="floating-image-usa" alt="United States Map" />
      <div class="content-usa">
        <h3>In the United States, we are tracking</h3>
        <h1 class="usa-number">281</h1>
        <br><h3>Apprentice Software Engineers.</h3>
      </div>
    </div>

<!-- Apprentice Statistic #2  -->

    <div class="parallax-wrapper-education">
      <div class="content-education">
        <h1 class="education-number">51%</h1><br><h3>of apprentices have <br>a 4 year undergraduate degree.</h3><br>
        <h1 class="education-number">74%</h1><br><h3>of apprentices attended<br>a coding bootcamp.</h3><br>
      </div>
    </div>

<!-- Apprentice Statistic #3  -->

    <div class="regular-wrapper-careers">
<!--       Insert images below here -->
      <img src="" class="floating-image-careers" alt="" />
      <img src="" class="floating-image-careers" alt="" />
      <img src="" class="floating-image-careers" alt="" />
      <img src="" class="floating-image-careers" alt="" />
      <img src="" class="floating-image-careers" alt="" />
      <div class="content-careers">
        <h3>The top 5 most common<br> previous careers were...<br>
        Sales, Teaching, IT/Networking, Food Service, Small Business.</h3>
        </p>
      </div>
    </div>

<!-- Apprentice Statistic #4  -->

    <div class="parallax-wrapper-identity">
      <div class="content-identity">
        <h1 class="identity-number">74%</h1><h3> of apprentices come from an underrepresented gender identity.</h3><br>
        <h1 class="identity-number">54%</h1><h3> of apprentices come from an underrepresented racial identity.</h3><br></p>
      </div>
    </div>

<!-- Apprentice Statistic #5  -->

    <div class="regular-wrapper-surprises">
<!--       Insert images below here -->
      <img src="" class="floating-image-surprises" alt="" />
      <img src="" class="floating-image-surprises" alt="" />
      <img src="" class="floating-image-surprises" alt="" />
      <div class="content-surprises">
       <h3> An apprentice at Uber was a former professional dancer. <br>
        An apprentice at _____ was a former butcher. <br>
        An apprentice at LinkedIn was a former personal trainer. <br></h3>
      </div>
    </div>

<!--   Navbar #2 -->
  <div class="parallax-navbar"><span>Companies</span></div>

<!-- Company Statistic #1 -->
    <div class="regular-wrapper-usa">
      <img src="https://i.imgur.com/xEEnl8e.png" class="floating-image-usa" alt="United States Map" />
      <div class="content-usa">
        <h3>In the United States, we are tracking</h3>
        <h1 class="usa-number">27</h1>
        <br><h3>companies with software engineering apprenticeships.</h3>
      </div>
    </div>

<!-- Company Statistic #2 -->

    <div class="parallax-wrapper-salary">
      <div class="content-salary">
        <h3>Average compensation in a software engineering apprenticeship is between…</h3> <h1 class="salary-number">$75,000 - $100,000.</h1><br>
      </div>
    </div>

<!-- Company Statistic #3 -->

    <div class="regular-wrapper-start">
      <img src="" class="floating-image-start" alt="Calendar" />
      <div class="content-usa">
        <h3>The earliest formal software engineering apprenticeship started in 2008.</h3><br>
      </div>
    </div>

<!-- Company Statistic #4 -->

    <div class="parallax-wrapper-length">
      <div class="content-length">
        <h3>The average apprenticeship length is<br></h3> <h1 class="length-number">7 months.</h1><br>
      </div>
    </div>

<!-- Company Statistic #5 -->

    <div class="regular-wrapper-retention">
      <img src="" class="floating-image-usa" alt="" />
      <div class="content-usa">
        <h3>80% of apprentices convert to full time roles after their apprenticeship. </h3><br>
        <h3>90% of apprentices stay a year or more at their company after their apprenticeship. </h3><br>
      </div>
    </div>

<!-- Company Statistic #6 -->

    <div class="parallax-wrapper-size">
      <div class="content-size">
        <h3>The biggest company running an apprenticeship program is Microsoft, with 100,000 employees. </h3><br>
        <h3>The smallest company running an apprenticeship program is Viaget, with 13 employees.<br></h3>
      </div>
    </div>

<!-- Company Statistic #7 -->

    <div class="regular-wrapper-median">
      <img src="" class="floating-image-median" alt="" />
      <div class="content-median">
        <h3>Of all our companies with software engineering apprenticeships, median company size is 58 employees.<br></h3>
      </div>
    </div>

<!-- Company Statistic #8 -->

    <div class="parallax-wrapper-annual">
      <div class="content-annual">
        <h3>Microsoft is hiring and training the most software engineer apprentices each year, about 120 apprentices.<br></h3>
      </div>
    </div>

<!-- Company Statistic #9 -->

    <div class="regular-wrapper-most">
      <img src="" class="floating-image-most" alt="" />
      <div class="content-most">
        <h3>thoughtbot is invested the most in software engineering apprenticeships, by number of hired software engineering apprentices.</h3><br>
      </div>
    </div>

<!-- Company Statistic #10 -->




<br>
According to ______, x # of software engineering positions go unfilled each year and x # more open each year.<br>
<br>
If each software company with more than 100 employees in New York City hired 10 apprentices per year…<br>
We would welcome and train x # of new Software Engineers into the tech industry each year.<br>
<br>
If each software company with more than 100 employees in San Francisco hired 10 apprentices per year…<br>
We would welcome and train x # of new Software Engineers into the tech industry each year.<br>


</body>

  <%= render "shared/footer" %>
</div>
