<div class="linkedin-loop">
</div>
<div class="testimonial-linkedin">
  <div class="testimonial-body-linkedin">
    <p>"Engineering talent comes in many different forms and from many different backgrounds, and it’s more than just technical chops: it involves curiosity, problem solving, and passion. At LinkedIn, we recognize that engineering talent doesn’t always come from traditional training, especially when there are so many different paths to programming today."</p>
  </div>
  <div class="testimonial-footer-linkedin">
    <img src="https://i.imgur.com/qEdNalT.jpg" alt="Photo of Shalini" />
    <h3>Shalini Agarwal</h3>
    <h4>Director of Engineering at <i id="testimonial-linkedin" class="fab fa-linkedin"></i></h4>
  </div>
</div>
