<div class="pinterest-loop d-none d-lg-block">
</div>
<div class="testimonial-pinterest d-none d-lg-block">
  <div class="testimonial-body-pinterest">
    <p>"Non-traditional can have many meanings, but we chose to define it as any candidate without formal computer science education. This includes coding bootcamp grads, self-taught coders, those looking to re-enter the tech workforce, and others. We knew that this significant talent pool is too often overlooked and is one that would bring unique benefits to our teams."</p>
  </div>
  <div class="testimonial-footer-pinterest">
    <img src="https://i.imgur.com/K8FdTbW.jpg" alt="Photo of Abby" />
    <h3>Abby Maldonado</h3>
    <h4>HR Business Partner at <i id="testimonial-pinterest" class="fab fa-pinterest"></i></h4>
  </div>
</div>
