<div class="testimonial-slack">
  <div class="testimonial-body-slack">
    <p>“This program couldn’t just be about providing training, or even job opportunities to our apprentices. We’ve worked hard to build a safe and special culture at Slack, where people who come from different backgrounds can thrive just as well as those who followed traditional paths.”</p>
  </div>
  <div class="testimonial-footer-slack">
    <img src="https://i.imgur.com/xl7Ejdh.jpg" alt="Photo of Rodney" />
    <h3>Rodney Urquhart</h3>
    <h4>Staff Software Engineer at <i id="testimonial-slac" class="fab fa-slack"></i></h4>
  </div>
</div>
