<div class="testimonial">
  <div class="testimonial-body">
    <p>"Florin is a front-end development master, delivering pixel-perfect css and html designs. He is professional, highly available and delivers on his promises - an all around pleasure to work with!"</p>
  </div>
  <div class="testimonial-footer">
    <img src="https://i.imgur.com/8XbpwA8.jpg" alt="Photo of Nicole" />
    <h3>Nicole Brunnett</h3>
    <h4>LinkedIn REACH</h4>
  </div>
</div>
