.mission-statement {
  padding: 150px 250px 150px 250px;
}

.our-team {
  font-family: $headers-font;
  font-size: 30px;
  text-align: center;
}

.our-supporters {
  padding-top: 150px;
  font-family: $headers-font;
  font-size: 30px;
  text-align: center;
}
