.mission-container {
  padding: 100px 250px 50px 250px;
}

.inspiration-container {
  padding: 100px 250px 50px 250px;
}

.story-container {
  padding: 100px 250px 0px 250px;
}

.purpose-container {
  padding: 75px 400px 150px 400px;
}

.mission-title {
  padding-top: 125px;
  font-family: $headers-font;
  font-size: 30px;
  text-align: center;
}

.team-title {
  font-family: $headers-font;
  font-size: 30px;
  text-align: center;
}

.supporters-title {
  padding-top: 100px;
  font-family: $headers-font;
  font-size: 30px;
  text-align: center;
}

.story-title, .inspiration-title {
  padding-bottom: 50px;
  font-family: $headers-font;
  font-size: 30px;
  text-align: center;
}

.mission {
  background-color: $blue;
  color: $white;
  font-size: 20px;
  font-family: $body-font;
  padding: 75px;
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.purpose {
  font-family: $headers-font;
  font-size: 25px;
  color: $white;
  text-align: center;
  background-color: $teal;
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.emojis {
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
}

.story {
  background-color: $teal;
  color: $white;
  font-family: $body-font;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.inspiration {
  margin-left: 175px;
  margin-right: 175px;
  background-color: $plum;
  color: $white;
  font-size: 15px;
  font-family: $body-font;
  text-align: center;
  padding: 48px;
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
