// Classes are Backgrounds Colors

.blue {
  background-color: $medium-blue;
}

.purple {
  background-color: $purple;
}

.teal {
  background-color: $teal;
}

.orange {
  background-color: $orange;
}

.plum {
  background-color: $plum;
}

.red {
  background-color: $medium-red;
}

// IDs are Font Colors

#blue {
  color: $blue;
}

#purple {
  color: $purple;
}

#teal {
  color: $teal;
}

#orange {
  color: $orange;
}

#plum {
  color: $plum;
}

#red {
  color: $red;
}
