.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 75px;
  padding: 0px 25px;
  font-family: $headers-font;
  .footer-mission {
    font-size: 12px;
  }  
  .footer-copyright {
    font-size: 9px;
    text-align: center;
  }
}

