.mini-banner {
  background-position: center;
  padding: 100px;
}

.home-top {
  background-color: $medium-blue;
  text-align: left;
}

.home-bottom {
  background-color: $medium-blue;
  text-align: right;
}

.about-top {
  background-color: $orange;
  text-align: left;
}

.about-bottom {
  background-color: $orange;
  text-align: right;
}

.hof-top {
  background-color: $purple;
  text-align: left;
}

.hof-bottom {
  background-color: $purple;
  text-align: right;
}

.apply-top {
  background-color: $teal;
  text-align: left;
}

.apply-bottom {
  background-color: $teal;
  text-align: right;
}

.candidates-top {
  background-color: $medium-red;
  text-align: left;
}

.candidates-bottom {
  background-color: $medium-red;
  text-align: right;
}

.apprentices-top {
  background-color: $orange;
  text-align: left;
}

.apprentices-bottom {
  background-color: $orange;
  text-align: right;
}

.employers-top {
  background-color: $teal;
  text-align: left;
}

.employers-bottom {
  background-color: $teal;
  text-align: right;
}

.educators-top {
  background-color: $medium-blue;
  text-align: left;
}

.educators-bottom {
  background-color: $medium-blue;
  text-align: right;
}

.mini-container {
  margin-left: 80px;
}

.mini-banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
}

.mini-banner p {
  font-size: 15px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.mini-banner-btn {
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  background: $teal;
  transition: all .1s ease-in-out;
  &:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
  }
  font-family: $headers-font;
}
