.podcast-header {
  font-family: $headers-font;
  color: #DCDCDC;
  background-color: $white;
  float: right;
  padding: 8px;
  border-radius: 4px;
  margin: 5px;
}

.podcast-header-links a:hover {
  opacity: .15;
}

.podcast-header-images img {
  width: 20px;
  height: 20px;
}

.navbar-apprenticeship {
  font-family: $headers-font;
  color: $black;
  float: center;
}

.navbar-brand img {
  width: 70px;
  height: 60px;
  float: left;
}

.btn-flat {
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  background: $teal;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $teal;
  color: white;
}
