.podcast-header {
  font-family: $headers-font;
}

.podcast-header-images img {
  width: 20px;
  height: 20px;
}

.navbar-apprenticeship {
  font-family: $headers-font;
}

.navbar-brand img {
  width: 70px;
  height: 60px;
}

.navbar-apprenticeship .navbar-collapse {
}

.btn-flat {
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  background: $teal;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $teal;
  color: white;
}
