// FYI: The icon colors for the navbar are located in footer CSS right now

.podcast-header {
  float: right;
  padding-right: 15px;
  padding-top: 22px;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.header-links {
  font-size: 24px;
  border-radius: 4px;
  padding: 5px 8px 5px 8px;
  a {
    padding: 10px;
  }
}

.navbar-apprenticeship .nav-link {
  font-family: $headers-font;
  color: $black;
  float: center;
  border-radius: 5px;
  &:hover {
    background-color: $hover-gray;
  }
  &.dropdown-toggle {
    cursor: pointer;
  }
}

.navbar-brand img {
  width: 70px;
  height: 60px;
  float: left;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.btn-flat {
  color: $white;
  padding: 6px 12px;
  border-radius: 5px;
  background: $teal;
  transition: background 0.3s ease;
  font-family: $headers-font;
}

.btn-flat:hover {
  background: $teal;
  color: white;
}
.dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration:.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-item {
  font-family: $headers-font;
}

.nav-item-button {
  padding-left: 10px;
}

.coming-soon {
  font-size: 14px;
  color: $medium-red;
}
