html {
    overflow: hidden;
}
body {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}

// 1st Navbar - Apprentices

.parallax-navbar span {
  font-family: $headers-font;
  color: $blue;
  font-size: 100px;
  margin: 100px;
}

//1st Statistic - # of Apprentices

.regular-wrapper-usa {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: $purple;
  z-index: 2;
  position: relative;
}

.floating-image-usa {
  transform: translate(75px, 50px) rotate(-25deg);
  width: 350px;
  float: left;
}

.content-usa {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  color: $medium-purple;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
}

.usa-number {
  font-family: $numbers-font;
  color: $medium-purple;
  padding-top: 40px;
  font-size: 100px;
}

// 2nd Statistic - Apprentice Education

.parallax-wrapper-education {
  width: 100vw;
  height: 100vh;
  padding-top:10vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-education::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
  // Insert falling degrees background image here
    background-image: url("https://i.imgur.com/7VSA6VB.png");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}

.content-education {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
  color: $teal;
}

.education-number {
  font-family: $numbers-font;
  font-size: 100px;
  color: $teal;
}

// 3rd Statistic - Apprentice Previous Careers

.regular-wrapper-careers {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: $navy;
  z-index: 2;
  position: relative;
}

.floating-image-careers {
  transform: translate(75px, 50px) rotate(-25deg);
  width: 350px;
  float: left;
}

.content-careers {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  color: $blue;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
}

.careers-number {
  font-family: $numbers-font;
  color: $medium-blue;
  padding-top: 40px;
  font-size: 100px;
}

// 4th Statistic - Apprentice Identity

.parallax-wrapper-identity {
  width: 100vw;
  height: 100vh;
  padding-top:10vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-identity::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
  // Insert identities background image here
    background-image: url("https://i.imgur.com/7VSA6VB.png");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}

.content-identity {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
  color: $orange;
}

.identity-number {
  font-family: $numbers-font;
  font-size: 100px;
  color: $orange;
}

// 5th Statistic - Apprentice Surprises

.regular-wrapper-surprises {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: $plum;
  z-index: 2;
  position: relative;
}

.floating-image-surprises {
  transform: translate(75px, 50px) rotate(-25deg);
  width: 350px;
  float: left;
}

.content-surprises {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  color: $light-purple;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
}

// 1st Company Statistic uses same CSS as 1st Apprentice Statistic
// 6th Statistic - Salary

.parallax-wrapper-salary {
  width: 100vw;
  height: 100vh;
  padding-top:10vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-salary::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
  // Insert salary background image here
    background-image: url("https://i.imgur.com/7VSA6VB.png");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}

.content-salary {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
  color: $teal;
}

.salary-number {
  font-family: $numbers-font;
  font-size: 100px;
  color: $teal;
}

// 7th Statistic -

.regular-wrapper-start {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: $plum;
  z-index: 2;
  position: relative;
}

.floating-image-start {
  transform: translate(75px, 50px) rotate(-25deg);
  width: 350px;
  float: left;
}

.content-start {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  color: $light-purple;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
}

// 8th Statistic -

.parallax-wrapper-length {
  width: 100vw;
  height: 100vh;
  padding-top:10vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-length::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
  // Insert salary background image here
    background-image: url("https://i.imgur.com/7VSA6VB.png");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}

.content-length {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
  color: $orange;
}

.length-number {
  font-family: $numbers-font;
  font-size: 100px;
  color: $orange;
}

// 9th Statistic -

.regular-wrapper-retention {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: $plum;
  z-index: 2;
  position: relative;
}

.floating-image-retention {
  transform: translate(75px, 50px) rotate(-25deg);
  width: 350px;
  float: left;
}

.content-retention {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  color: $light-purple;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
}

// 10th Statistic -

.parallax-wrapper-size {
  width: 100vw;
  height: 100vh;
  padding-top:10vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-size::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
  // Insert salary background image here
    background-image: url("https://i.imgur.com/7VSA6VB.png");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}

.content-size {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
  color: $orange;
}

.length-size {
  font-family: $numbers-font;
  font-size: 100px;
  color: $orange;
}

// 11th Statistic -

.regular-wrapper-median {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: $plum;
  z-index: 2;
  position: relative;
}

.floating-image-median {
  transform: translate(75px, 50px) rotate(-25deg);
  width: 350px;
  float: left;
}

.content-median {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  color: $light-purple;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
}

// 12th Statistic -

.parallax-wrapper-annual {
  width: 100vw;
  height: 100vh;
  padding-top:10vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-annual::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
  // Insert salary background image here
    background-image: url("https://i.imgur.com/7VSA6VB.png");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}

.content-annual {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
  color: $orange;
}

.number-annual {
  font-family: $numbers-font;
  font-size: 100px;
  color: $orange;
}

// 13th Statistic -

.regular-wrapper-most {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: $plum;
  z-index: 2;
  position: relative;
}

.floating-image-most {
  transform: translate(75px, 50px) rotate(-25deg);
  width: 350px;
  float: left;
}

.content-most {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: $white;
  color: $light-purple;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  text-align: center;
}

