.resources-container {
  padding: 100px 250px 100px 250px;
}

.resources-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.resources-card i {
  width: 120px;
}

.fa-star-of-life {
  color: $plum;
  font-size: 30px;
}

.fa-hands-helping {
  color: $medium-blue;
  font-size: 30px;
}

.fa-stopwatch {
  color: $purple;
  font-size: 30px;
}

.fa-palette {
  color: $teal;
  font-size: 30px;
}

.fa-lightbulb {
  color: $red;
  font-size: 30px;
}

.fa-rocket {
  color: $medium-purple;
  font-size: 30px;
}

.fa-users {
  color: $blue;
  font-size: 30px;
}

.fa-trophy {
  color: $orange;
  font-size: 30px;
}

.resources-card h2 {
  font-size: 20px;
  font-family: $headers-font;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.resources-card p {
  font-family: $body-font;
  font-size: 15px;
  text-align: left;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.resources-card .resources-card-info {
  padding: 16px;
}
