.team-member-container {
  @media (max-width: 767.98px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  padding-left: 200px;
  padding-right: 200px;
}

.supporters-container {
  padding-left: 100px;
  padding-right: 100px;
}

.team-member {
  display: inline-block;
  position: relative;
  width: 275px;
  min-width: 200px;
  height: 275px;
  border-radius: 15px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 50px;
}

.team-member-profile-img {
  width: 100%
}

.team-member-description-bk {
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}

.team-member-name-short {
  position: absolute;
  color: $white;
  font-family: $headers-font;
  font-size: 18px;
  left: 125px;
  bottom: 25%;
  line-height: 0;
}

.team-member-name-long {
  position: absolute;
  color: $white;
  font-family: $headers-font;
  font-size: 18px;
  left: 100px;
  bottom: 25%;
  line-height: 0;
}

.team-member-name-extra-long {
  position: absolute;
  color: $white;
  font-family: $headers-font;
  font-size: 18px;
  left: 80px;
  bottom: 25%;
  line-height: 0;
}

.team-member-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 6px 6px 3px 6px;
  color: $white;
  text-decoration: none;
  box-shadow: 10px 10px 30px rgba(0.5, 0.5, 0.5, 0.5);
  border-radius: 5px;
  a { color: white; }
}

.team-member-info {
  font-size: 12px;
  position: absolute;
  color: $white;
  left: 15px;
  bottom: 5%;
  line-height: 0;
  font-family: $body-font;
}
