<a class="resources-link" href="https://medium.com/apprenticeship-io/for-apprentices-join-us-in-the-apprenticeship-io-community-7a9d6fac8c2b">
<div class="resources-card">
  <i class="fab fa-slack-hash"></i>
  <div class="resources-card-info">
    <h2>
      Welcome, Apprentices - Join Us
    </h2>
    <p>
      We're inviting current and past apprentices to join our community on Slack!
    </p>
  </div>
</div>
</a>
