<div class="resources-card">
  <i class="fas fa-rocket"></i>
  <div class="resources-card-info">
    <h2>
      <div class="coming-soon"> Coming Soon! <i class="fas fa-wrench"></i> </div>
      Launching Your Company’s Apprenticeship Program
    </h2>
    <p>
      It's time for take off! Learn more about how to launch your apprenticeship program with a bang
    </p>
  </div>
</div>
