<a class="resources-link" href="https://medium.com/apprenticeship-io/for-employers-identifying-problems-an-apprenticeship-can-solve-a37398779b79">
<div class="resources-card">
  <i class="fas fa-lightbulb"></i>
  <div class="resources-card-info">
    <h2>
      Identifying Problems an Apprenticeship Can Solve
    </h2>
    <p>
      Once you get how apprenticeships work, learn how to meet your company's needs, goals and targets
    </p>
  </div>
</div>
</a>
