<a class="resources-link" href="https://medium.com/apprenticeship-io/for-employers-apprenticeships-101-92dd374a3d89">
<div class="resources-card">
  <div class="resources-icon">
  <i class="fas fa-star-of-life"></i>
  </div>
  <div class="resources-card-info">
    <h2>
      Apprenticeships 101: An Introduction
    </h2>
    <p>
      Don't know much about what an apprenticship is and why they're important? This one is for you!
    </p>
  </div>
</div>
</a>
