<a class="resources-link" href="">
<div class="resources-card">
  <i class="fas fa-hands-helping"></i>
  <div class="resources-card-info">
    <h2>
      <div class="coming-soon"> Coming Soon! <i class="fas fa-wrench"></i> </div>
      Sourcing & Building Apprenticeship Partners
    </h2>
    <p>
      Learn how to identify and partner effectively to build and scale your apprenticeship program
    </p>
  </div>
</div>
</a>
