<a class="resources-link" href="">
<div class="resources-card">
  <i class="fas fa-users"></i>
  <div class="resources-card-info">
    <h2>
      <div class="coming-soon"> Coming Soon! <i class="fas fa-wrench"></i> </div>
      Mobilizing Internal Advocates, Mentors, Sponsors, and Allies
    </h2>
    <p>
      Learn how to galvanize your team and company around your apprenticeship program
    </p>
  </div>
</div>
</a>
