<a class="resources-link" href="">
<div class="resources-card">
  <i class="fas fa-trophy"></i>
  <div class="resources-card-info">
    <h2>
      <div class="coming-soon"> Coming Soon! <i class="fas fa-wrench"></i> </div>
      Finding an Apprenticeship Program Champion
    </h2>
    <p>
      Who should lead the launch and expansion of an apprenticeship program? Let's figure it out!
    </p>
  </div>
</div>
</a>
