<a class="resources-link" href="https://css-tricks.com/snippets/jquery/make-entire-div-clickable/">
<div class="resources-card">
  <i class="fas fa-hands-helping"></i>
  <div class="resources-card-info">
    <h2>
      Sourcing & Building Apprenticeship Partners
    </h2>
    <p>
      Learn how to identify and partner effectively to build and scale your apprenticeship program
    </p>
  </div>
</div>
</a>
