<!--  Cities Navbar #3 -->
<a name="clever-cities">
  <div class="cities title">
    Clever Cities
  </div>

<!-- Industry Statistic #13 -->

    <div class="regular wrapper jobs">
      <div class="content">
        <h3>In the next 5 years,</h3>
        <h1 class="number-text-2"> 150 million </h1>
        <h1 class="number-text"> new jobs </h1>
        <h3> will be created in technology globally, </h3>
        <h3> according to the LinkedIn Economic Graph. </h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#software"></a>
      </div>
    </div>

<!-- Industry Statistic #14 -->

<a name="software">
    <div class="parallax wrapper software">
      <div class="content">
        <h3> 65% of these new jobs in technology,</h3>
        <h1 class="number-text-2"> 98 million </h1>
        <h1 class="number-text"> jobs </h1>
        <h3> are forecasted to be Software Engineers.</h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#ranking"></a>
      </div>
    </div>

<!-- Industry Statistic #15 -->

<a name="ranking">
    <div class="regular wrapper ranking">
      <div class="content">
        <h3> Of the top 10 most in-demand jobs<h3>
        <h3> during COVID-19 and beyond,</h3>
        <h1 class="number-text-4"> software engineering</h1>
        <h1 class="number-text-3"> ranked highest </h1>
        <h3> for greatest number of job openings, </h3>
        <h3> steady growth over time, </h3>
        <h3> paying a livable wage, </h3>
        <h3> and skills that can be developed online.</h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#investments"></a>
      </div>
    </div>

<!-- Industry Statistic #16 -->

<a name="investments">
    <div class="parallax wrapper investments">
      <div class="content">
        <h3>During the COVID-19 pandemic, </h3>
        <h3>broad public and private investments in </h3>
        <h3 class="number-text-2">education </h3>
        <h3> and </h3>
        <h3 class="number-text-2">workforce </h3>
        <h3 class="number-text-2">development </h3>
        <h3>are being discussed everywhere </h3>
        <h3>across the United States.</h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#lowest"></a>
      </div>
    </div>

<!-- Industry Statistic #17 -->

<a name="lowest">
    <div class="regular wrapper lowest">
      <div class="content">
        <h3>Despite graduating the most non-traditional engineers of any city in the United States,</h3>
        <h1 class="number-text-3">New York City</h1>
        <h3>maintains the lowest rates of technology apprenticeships in the country.</h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#worst"></a>
      </div>
    </div>

<!-- Industry Statistic #18 -->

<a name="worst">
    <div class="parallax wrapper worst">
      <div class="content">
        <h3>The Greater New York City </h3>
        <h3> Metropolitan area likely ranks as the </h3>
        <h1 class= "number-text-3"> most difficult city </h3>
        <h3> in the United States </h3>
        <h3> to be a non-traditional engineer, </h3>
        <h3> followed by </h3>
        <h1 class= "number-text-4"> Los Angeles
        <h3> and </h3>
        <h1 class= "number-text-4"> Washington DC.</h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#start-now"></a>
      </div>
    </div>

<!-- Industry Statistic #19 -->

<a name="start-now">
    <div class="regular wrapper start-now">
      <div class="content">
        <h3> That is to say,</h3>
        <h1 class="number-text"> employers </h1>
        <h3> in and around </h3>
        <h1 class="number-text-4"> New York, Los Angeles, and Washington D.C. </h1>
        <h3> could benefit the most from starting </h3>
        <h3> software engineering apprenticeships </h3>
        <h1 class="number-text-3"> immediately</h1>
        <h3> to hire some of the best </h3>
        <h3> non-traditional engineers in the country.</h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#most"></a>
      </div>
    </div>

<!-- Industry Statistic #20 -->

<a name="most">
    <div class="parallax wrapper most">
      <div class="content">
        <h3> The city with the most total </h3>
        <h3> past and present </h3>
        <h3> software engineering apprentices is </h3>
        <h1 class="number-text">Chicago</h1>
        <h3> with more than </h3>
        <h3> 300 Apprentice Software Engineers
        <h3> hired to date. </h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#chicago"></a>
      </div>
    </div>

<!-- Industry Statistic #21 -->

<a name="chicago">
    <div class="regular wrapper chicago">
      <div class="content">
        <h3> Companies across Chicago </h3>
        <h3> started training apprentices earliest, </h3>
        <h1 class="number-text"> including </h1>
        <h1 class="number-text-4"> very small companies </h3>
        <h3> flying in the face of Silicon Valley lore </h3>
        <h3> about junior engineers </h3>
        <h3> reducing productivity.</h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#best"></a>
      </div>
    </div>

<!-- Industry Statistic #22 -->

<a name="best">
    <div class="parallax wrapper chicago">
      <div class="content">
        <h3> Companies in Chicago have shown the most </h3>
        <h3> commitment to apprenticeship and </h3>
        <h3> maintain the best culture to develop and grow </h3>
        <h3> amazing non-traditional engineers. </h3>
        <h1 class="number-text"> Chicago </h1>
        <h3> is likely </h3>
        <h1 class="number-text-2"> the best city </h1>
        <h3> to start your career as </h3>
        <h3> a non-traditional software engineer.</h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#annual"></a>
      </div>
    </div>

<!-- Industry Statistic #23 -->

<a name="annual">
    <div class="regular wrapper annual">
      <div class="content">
        <h3> Companies in the </h3>
        <h1 class= "number-text-4"> Greater Seattle area </h3>
        <h3> hire the most </h3>
        <h3> non-traditional engineers </h3>
        <h3> each year. </h3>
        <h3> We're talking about you, </h1>
        <h1 class= "number-text-3"> Microsoft </h1>
        <h3> and </h3>
        <h1 class= "number-text-3"> Amazon. </h1>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#seattle"></a>
      </div>
    </div>

<!-- Industry Statistic #24 -->

<a name="seattle">
    <div class="parallax wrapper seattle">
      <div class="content">
        <h3> Employers in Seattle likely hire the most </h3>
        <h3> non-traditional engineers </h3>
        <h3 > who didn't study or train in Seattle locally. </h3>
        <h3> Non-traditional engineers looking for
        <h3 class="number-text-4"> a new place to call home </h3>
        <h3> should look to</h3>
        <h3 class="number-text"> Seattle. </h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#potential"></a>
      </div>
    </div>

<!-- Industry Statistic #25 -->

<a name="potential">
    <div class="regular wrapper potential">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3> The city with the
        <h1 class="number-text-2"> most total </h1>
        <h1 class="number-text-3"> companies hiring </h1>
        <h3> via software engineering apprenticeship is </h3>
        <h1 class="number-text-4"> the Greater Bay Area </h1>
        <h4> including San Francisco, "Silicon Valley", and Oakland. </h4>
        <h3> This region holds </h3>
        <h1 class="number-text-3"> the most potential </h1>
        <h3> for impact in software engineering </h3>
        <h3> training and hiring in the United States. </h3>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#interactive"></a>
      </div>
    </div>

<!-- Industry Statistic #26 -->

<a name="interactive">
    <div class="parallax wrapper interactive">
      <div class="content">
        <h3> If each tech company </h3>
        <h1 class="number-text-4"> with more than 100 employees </h1>
        <h3> in </h3>
        <h3> <%=select("cities", "companies_in_city", options_for_select(@companies_gt_100_employees, selected = 'San Francisco Bay Area'), {}, {id: "city-select-input", class: "city-select-input"})%> </h3> <p> Choose your city! </p>
        <h3> hired <input id="apprentices-in-company-input" type='number' value=3 min=0 /> </h3>
        <h3> new Apprentice Software Engineers </h3>
        <h1 class="number-text-3"> per year... </h1>
        <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#training"></a>
      </div>
    </div>

<!-- Industry Statistic #27 -->

<a name="training">
    <div class="parallax wrapper training">
      <div class="content">
        <h1 class="number-text-3"><span id="city-name"></span></h1>
        <h3> would train </h3>
        <h1 class="number-text"><span id="city-yearly-apprentices"></span></h3>
        <h3><span>new Apprentice Software Engineers</span></h3>
        <h1 class="number-text-3"> per year.</h3>
      </div>
    </div>
