<!--  Company Navbar #2 -->
<a name="cool-companies">
  <div class="companies title">
    Cool Companies
  </div>

<!-- Company Statistic #8 -->
  <div class="regular wrapper usa">
    <div class="content">
      <h3>This project tracks</h3>
      <h1 class="number-text"><%=@total_companies%></h1>
      <h3>companies with</h3>
      <h3>software engineering apprenticeships</h3>
      <h3>in the United States.</h3>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#salary"></a>
    </div>
  </div>

<!-- Company Statistic #9 -->

<a name="salary">
  <div class="parallax wrapper salary">
<!--     <i id="blue" style="font-size: 175px; left: 200px; top: 2rem;" class="fas fa-money-bill-wave floater" data-speed="0"></i>
    <i id="purple" style="font-size: 125px; left: 900px; top: 37rem;" class="fas fa-money-bill-wave floater" data-speed="0"></i>
    <i id="orange" style="font-size: 300px; left: 1175px; top: -10rem;" class="fas fa-money-bill-wave floater" data-speed="5"></i>
    <i id="teal" style="font-size: 150px; left: 45rem; top: 0rem;" class="fas fa-money-bill-wave floater" data-speed="0"></i>
    <i id="plum" style="font-size: 125px; left: 1rem; top: 37rem;" class="fas fa-coins floater" data-speed="0"></i>
    <i id="plum" style="font-size: 250px; left: 60rem; top: -10rem;" class="fas fa-coins floater" data-speed="3"></i>
    <i id="blue" style="font-size: 200px; left: 10rem; top: -20rem;" class="fas fa-coins floater" data-speed="2"></i>
    <i id="purple" style="font-size: 150px; left: 30rem; top: 0rem;" class="fas fa-coins floater" data-speed="0"></i>
    <i id="orange" style="font-size: 150px; left: 30rem; top: 36rem;" class="fas fa-credit-card floater" data-speed="0"></i>
    <i id="teal" style="font-size: 300px; left: 10rem; top: 0;" class="fas fa-credit-card floater" data-speed="5"></i>
    <i id="red" style="font-size: 200px; left: 0rem; top: 0rem;" class="fas fa-credit-card floater" data-speed="3"></i>
    <i id="red" style="font-size: 200px; left: 60rem; top: 10rem;" class="fas fa-credit-card floater" data-speed="2.5"></i> -->
    <div class="content">
      <h3>Average compensation in a software engineering apprenticeship is between…</h3>
      <h1 class="number-text">$75,000</h1><h3>to</h3><h1 class="number-text">$100,000.</h1><br>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#length"></a>
    </div>
  </div>

<!-- Company Statistic #10 -->

<a name="length">
  <div class="regular wrapper length">
    <div class="content">
      <h3>The average apprenticeship length is<br></h3> <h1 class="number-text">6 months.</h1>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#small-companies"></a>
    </div>
  </div>

<!-- Company Statistic #11 -->

<a name="small-companies">
  <div class="parallax wrapper small-companies">
    <div class="content">
      <h3> Smaller, less famous tech companies </h3>
      <h3> including Jellyvision, R/GA, Detroit Labs, </h3>
      <h3> thoughtbot, and 8th Light have hired </h3>
      <h1 class="number-text-4"> the most apprentices  </h1>
      <h1 class="number-text-4"> in tech since the </h1>
      <h1 class="number-text-4"> earliest of days </h1>
      <h3> across a broad range of technology roles. </h3>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#biggest-company"></a>
    </div>
  </div>

<!-- Company Statistic #12 -->

<a name="biggest-company">
  <div class="regular wrapper biggest-company">
    <div class="content">
      <h3> The company hiring and training </h3>
      <h3> the most software engineer apprentices </h3>
      <h3> each year is </h3>
      <h1 class="number-text"> Microsoft </h1>
      <h3> including their acqusitions of </h3>
      <h3> LinkedIn and GitHub.<br></h3>
    </div>
  </div>
