<div class="closing">
    <div class="closing-text"> Still<br> Want<br> More?<br> </div>
    <div class="down-arrow-footer"> <i class="fas fa-arrow-alt-circle-down"></i> </div>
    <img src="https://i.imgur.com/K9u6hTj.png" class="billboard" alt="Billboard" />
  </div>

  <div class="mini-footer">
    <center>
      <a class="grow-small slack-tile" href="https://kamrinklauschie633721.typeform.com/to/GX7D6ek7">
        <div  class="slack-info">
          Join us in our Slack Community
          <div class="slack-icon">
            <i class="fas fa-user-astronaut"></i>
          </div>
        </div>
      </a>
      <a class="grow-small resources-tile" href="https://medium.com/apprenticeship-io">
        <div  class="resources-info">
          Explore our Resources
          <div class="resources-icon">
          <i class="fas fa-laptop-code"></i>
          </div>
        </div>
      </a>
      <a class="grow-small newsletter-tile" href="">
        <div class="newsletter-info">
          Subscribe to our Newsletter
          <div class="newsletter-icon">
          <i class="fab fa-mailchimp"></i>
          </div>
        </div>
      </a>
    </center>
  </div>
