<!-- Header - Apprentices, Companies, Cities -->
<div class="our-data-header-container">
  <div class="our-data-header">
<!--     <div class="layer parallax-loop-1" id="Large-Loop" data-speed="-5"></div>
    <div class="layer parallax-loop-2" id="Medium-Loop" data-speed="5"></div>
    <div class="layer parallax-loop-3" id="Small-Loop" data-speed="2"></div>
    <div class="layer parallax-loop-4" id="Tiny-Loop" data-speed="6"></div>
    <div class="layer parallax-loop-5" id="Large-Loop" data-speed="8"></div>
    <div class="layer parallax-loop-6" id="Medium-Loop" data-speed="-2"></div>
    <div class="layer parallax-loop-7" id="Small-Loop" data-speed="4"></div>
    <div class="layer parallax-loop-8" id="Tiny-Loop" data-speed="-9"></div>
    <div class="layer parallax-loop-9" id="Large-Loop" data-speed="6"></div>
    <div class="layer parallax-loop-10" id="Medium-Loop" data-speed="-7"></div>
    <div class="layer parallax-loop-11" id="Small-Loop" data-speed="-5"></div>
    <div class="layer parallax-loop-12" id="Tiny-Loop" data-speed="5"></div> -->
    <h4 class= "header-text-1"> so you want to learn about </h4>
    <h2 class="layer apprenticeships-1" data-speed="2">apprenticeships</h2>
    <h2 class="layer apprenticeships-2" data-speed="2.7">apprenticeships</h2>
<!--     <h2 class="layer apprenticeships-3" data-speed="2.7">apprenticeships</h2> -->
    <h3 class= "header-text-2"> in tech... </h3>
  </div>
</div>

<div class="mini-header">
  <center>
  <div class="apprentices-card">
    <div  class="apprentices-info">
      Awesome Apprentices
      <div class="apprentices-icon">
        <i class="fas fa-user-astronaut"></i>
      </div>
    </div>
  </div>
  <div class="companies-card">
    <div  class="companies-info">
      Cool Companies
      <div class="companies-icon">
        <i class="fas fa-laptop-code"></i>
      </div>
    </div>
  </div>
  <div class="cities-card">
    <div class="cities-info">
      Clever <br> Cities
      <div class="cities-icon">
        <i class="fas fa-city"></i>
      </div>
    </div>
  </div>
  </center>
</div>

