<!-- Header - Apprentices, Companies, Cities -->
<div class="our-data-header-container">
  <div class="our-data-header">
    <h4 class= "header-text-1"> So you want </h4>
    <h4 class= "header-text-2"> to learn about </h4>
    <h2 class="layer apprenticeships-1" data-speed="2">apprenticeships</h2>
    <h2 class="layer apprenticeships-2" data-speed="2.7">apprenticeships</h2>
    <h4 class= "header-text-3"> in tech? </h4>
  </div>
</div>

<div class="our-data-overview">
  <div class="content overview-header">
    <h3> Don’t know much about apprenticeships in tech? </h3>
    <h1 class="number-text-4"> You’re not alone. </h1>
    <h3> Until this project, not much</h3>
    <h3> data and transparency about opportunities </h3>
    <h3> for non-traditional engineers existed. </h3>
    <h3> When it comes to apprenticeship, there are </h3>
    <h1 class="number-text-4"> 3 major stakeholders </h1>
    <h3> you should learn more about. </h3>
  </div>
</div>

<div class="mini-header">
  <center>
  <a class="grow-small apprentices-card" href="#awesome-apprentices">
    <div  class="apprentices-info">
      Awesome Apprentices
      <div class="apprentices-icon">
        <i class="fas fa-user-astronaut"></i>
      </div>
    </div>
  </a>
  <a class="grow-small companies-card" href="#cool-companies">
    <div  class="companies-info">
      Cool Companies
      <div class="companies-icon">
        <i class="fas fa-laptop-code"></i>
      </div>
    </div>
  </a>
  <a class="grow-small cities-card" href="#clever-cities">
    <div class="cities-info">
      Clever <br> Cities
      <div class="cities-icon">
        <i class="fas fa-city"></i>
      </div>
    </div>
  </a>
  </center>
</div>

